* {
    padding:0;
    margin:0;

  }

.my-container {
  position:absolute;
  top:15%;
  left: 40%;
  align-items: center;
}

.mt-100 {
    margin-top: 150px;
    margin-bottom: 30px;
}

.card {
    text-align:center;
}

.card:hover {
    background-color: blue;
}

.pagination-container {
    position:absolute;
    top:13%;
    left: 45%;
    align-items: center;
}

.my-mt {
    margin-top: 100px;
    margin-bottom: 20px;
}