* {
    padding:0;
    margin:0;

  }

.my-container {
  position:absolute;
  top:15%;
  left: 40%;
  align-items: center;
}

.mt-100 {
    margin-top: 100px;
}

.card {
    text-align:center;
}

.card:hover {
    background-color: blue;
}

.image-container {
    margin-top: 150px;
}
