    body {
      background-color: #000000;
      color: #191970;
    }

    .menu-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #5F9EA0;
      margin-bottom: 20px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
    }
    .menu-btn {
      color: #000000;
      margin-right: 10px;
    }

    .carousel {
      margin-top: 120px;
    }

    .custom-img {
      width: 40%;
      height: auto;
      margin: 0 auto;
    }
    .custom-button {
    background-color: #191970;
    color: #ffffff;
  }
    .custom-img2 {
      width: 80%;
      height: 50%;
    }

    .text-lg {
      font-size: 30px;
      margin-top: 150px;
    }

    .image-container {
      margin-top: 150px;
    }

    .register-form-container {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
     }
      .form-field {
        margin-bottom: 10px;
      }

      .form-field input {
        width: 100%;
      }