{% extends 'base/new_menu.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/css/new_style' %}">
{% endblock %}

{% block content %}
<div class="container text-center mt-110">
    <div class="row">
        <div class="col">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                  <option selected>Показать всех!</option>
<!--                  {% for cat in cats %}-->
<!--                  <option value="{{ cat.name }}">One</option>-->
<!--                  {% endfor %}-->
            </select>
        </div>
        <div class="col"></div>
        <div class="col">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Туда!</a></li>
                  {% endif %}
                  {% for p in page_obj.paginator.page_range %}
                  {% if page_obj.number == p %}
                  <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Сюда!</a></li>
                  {% endif %}
                </ul>
              </nav>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container mt-100">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
        {% if not request.user.is_authenticated %}
        <div class="col">
            <div class="card text-bg-dark">
                <img src="{% static 'base/images/first.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Рад видеть тебя!</h5>
                    <p class="card-text">Перед тем как продолжить, лучше сразу пройди процедуру регистрации или же войти в свой аккаунт!</p>
                    <a href="{% url menu.3.url_name %}" class="btn btn-outline-success text-center">{{ menu.3.title }}</a>
                    <a href="{% url menu.4.url_name %}" class="btn btn-outline-success text-center">{{ menu.4.title }}</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% for object in objects %}
        <div class="col">
            <div class="card text-bg-dark">
                <img src="{{ object.photo.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ object.name }}</h5>
                    <p class="card-text">{{ object.content }}</p>
                    <a href="{% url 'post_detail' object.id %}" class="btn btn-outline-success text-center">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
