{% extends 'base/base2.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg">
      <div class="image-container text-center">
        <img src="{{ person.photo.url }}" alt="{{ person.name }}" class="custom-img2">
      </div>
    </div>
    <div class="col-lg">
      <h1 class="text-lg">{{ person.name }}</h1>
      <p>{{ person.content }}</p>
      {% for comment in comments %}
        <div class="comment">
          <p>{{ comment.user.username }}:</p>
          <p>{{ comment.user_content }}</p>
          <p>{{ comment.created_time }}</p>
        </div>
      {% endfor %}
      <h3>Оставить комментарий</h3>
      <form method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <textarea class="form-control" name="user_content" id="floatingTextarea" placeholder="Оставьте комментарий здесь" rows="4"></textarea>
            <label for="floatingTextarea">Комментарии</label>
        </div>
        <div class="my-3">
        <button type="submit" class="btn btn-primary" >Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
