{% extends 'base/base2.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="register-form-container">
  <form method="post" enctype="multipart/form-data">
    <h1>{{title}}</h1>
    {% csrf_token %}
    {% for f in form %}
      <div class="form-field">
        <label for="{{ f.id_for_label }}">{{ f.label }}:</label>
        {{ f }}
        <div>{{ f.errors }}</div>
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">{{title}}</button>
  </form>
</div>
{% endblock %}
