{% extends 'base/base2.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  <div class="register-form-container">
    <h1 class="text-center">{{title}}</h1>
    {% csrf_token %}
    {% for f in form %}
      <div class="my-3">
        {{ f }}
      {{ f.errors }}
      </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">{{title}}</button>
  </div>
</form>

{% endblock %}
