{% extends 'base/new_menu.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/css/new_style' %}">
{% endblock %}

{% block content %}
<div class="container text-center mt-110">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
        <form method="post" enctype="multipart/form-data">
          <div class="register-form-container">
            <h1 class="text-center">{{title}}</h1>
            {% csrf_token %}
            {% for f in form %}
              <div class="my-3">
                {% if f == form.is_pub %}
                    <label for="{{ form.is_pub.id_for_label }}">Сделать доступной всем?</label>
                {% endif %}
                {{ f }}
              {{ f.errors }}
              </div>
            {% endfor %}
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Готов!</button>
            {% if not request.user.is_authenticated %}
              {% if menu.4.url_name not in request.path %}
                  <a href='{% url menu.4.url_name %}' class="btn btn-primary">Регистрация</a>
              {% endif %}
            {% endif %}
          </div>
        </form>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}
